.details {
  margin: 20px;
  padding: 0 20px; 
  font-family: Arial, sans-serif;

  h1 {
    font-size: 24px;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }

  h2 {
    font-size: 18px;
    color: var(--blue-300);
    margin: 10px 0px;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

  li h3 {
    font-size: 16px;
    color: var(--blue-300);
    margin: 10px 0px;
  }

  li p {
    margin: 5px 0;
  }

  li a {
    color: var(--blue-300);

    &:hover {
      text-decoration: underline;
    }
  }

  .kit-item {
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 768px) {
    margin: 10px;
    padding: 0 10px; 
   }

  @media (max-width: 480px) {
    margin: 5px;
    padding: 0 5px; 
  }
}
